*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background: white;
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 0 2px 5px #c3c3c3;
}
.header-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    column-gap: 20px;
}
.logo{
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #4f39f6;
}
.logo span{
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
}
header nav ul{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    column-gap: 30px;
}
header nav ul li a{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #394356;
}
header nav ul li a:hover{
    color: #4f39f6;
}
.header-btn{
    justify-self: end;
    padding: 8px 25px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: white;
    background: #4f39f6;
}
.header-btn:hover{
    background: #4835dc;
}
body{
    background: #e7eeff;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
.start_studying_grid{
    display: grid;
    place-items: center center;
    row-gap: 20px;
    padding-top: 64px;
    padding-bottom: 64px;
}
.start_studying_grid h1{
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    color: #101727;
}
.start_studying_grid p{
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #4b5664;
}
.start_studying_grid .btn{
    padding: 12px 32px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
}
.start_studying_buttons{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-top: 12px;
}
.btn_start{
    background: #4f39f6;
    color: white;
}
.btn_start:hover{
    background: #402fcc;
}
.btn_more{
    background: white;
    color: #4f39f6;
    outline: 2px solid #4f39f6;
}
.btn_more:hover{
    background: #e7eeff;
}
.cards-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 64px;
}
.card{
    display: flex;
    flex-direction: column;
    background: white;
    padding: 24px;
    border-radius: 15px;
    row-gap: 18px;
    box-shadow: 0 0 10px #eaeaea;
}
.card:hover{
    box-shadow: 0 0 40px #d3d3d3;
}
.card-icon{
    font-size: 48px;
    line-height: 48px;
    font-weight: 600;
}
.card h2{
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    color: #101727;
}
.card p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #4b5664;
}
.card hr{
    border: none;
    background-color: #d6d6d6;
    height: 1px;
}
.skills span{
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #434d5a;
}
.tags li{
    display: inline-grid;
    margin-top: 10px;
    padding: 4px 12px;
    border-radius: 20px;
    background: #e1e7ff;
    color: #4f39f6;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
footer{
    background: #101727;
    padding: 48px 24px;
}
.footer-top{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.footer-column{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.footer-logo{
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: white;
}
.footer-column h3 span{
    font-size: 30px;
    line-height: 36px;
}
.footer-column p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #939baa;
}
.footer-column h3{
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: white;
}
.footer-links{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.footer-column ul li a{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #939baa;
}
.footer-column ul li a:hover{
    color: #ffffff;
}
.social{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}
.social li{
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
}
.subscribe-grid{
    display: grid;
    grid-template-columns: 5fr 1fr;
    column-gap: 10px;
}
.subscribe-grid input{
    padding: 8px 16px;
    border-radius: 10px;
    border: 1px solid #36435a;
    background: #1e2a3a;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #ced1d5;
}

.subscribe-grid button{
    padding: 8px 16px;
    background: #4f39f6;
    color: white;
    border-radius: 8px;
    border: none;
    font-weight: 500;
}
.subscribe-grid button:hover{
    background: #3524bd;
}
.footer hr{
    border: none;
    background-color: #27314c;
    height: 0.5px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.footer-bottom{
    display: grid;
    place-items: center center;
    row-gap: 8px;
}
.footer-bottom p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #939baa;
}