*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: #e7eeff;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
 }
.header-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    column-gap: 20px;
}
header nav ul{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    column-gap: 20px;
}
.header-btn{
    justify-self: end;
    padding: 8px 25px;
    border-radius: 5px;
}
.start_studying_grid{
    display: grid;
    place-items: center center;
    row-gap: 20px;
}
.cards-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.tags li{
    display: inline-grid;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}